@import "bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,400;1,600&family=Poppins:wght@300;600;700&family=Six+Caps&display=swap");

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
}

h1,
h4 {
	font-family: "Six Caps", sans-serif;
	letter-spacing: 0.5rem;
}

p {
	font-family: "Poppins", sans-serif;
}

.logo {
	width: 2em;
	height: auto;
}

.page-not-found-container {
	height: calc(100vh - 66px - 212px);
}

.content-container {
	min-height: calc(100vh - 66px - 212px);
	padding: 0;
	margin: 0;
	width: 100vw;
	max-width: 100%;
}

.link-text-custom:hover,
.link-text-custom:active {
	color: #cc9503 !important;
}

.navbar {
	position: sticky;
	top: 0;
	z-index: 900;
	background-color: #202020;
}

/* custom primary search button */
.btn-outline-primary-custom {
	color: #ededed;
	background-color: transparent;
	border-color: #cc9503;
	border-width: 0.2em;
	font-weight: 400;
}

.btn-outline-primary-custom:hover {
	color: #1c1c1c;
	background-color: #cc9503;
	border-color: #cc9503;
	transition:
		color 0.3s,
		border-color 0.3s;
}

.btn-outline-primary-custom:focus,
.btn-outline-primary-custom:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.131);
}

.btn-outline-primary-custom.disabled,
.btn-outline-primary-custom:disabled {
	color: #c6911e74;
	background-color: transparent;
}

.btn-outline-primary-custom:not(:disabled):not(.disabled):active,
.btn-outline-primary-custom:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary-custom.dropdown-toggle {
	color: #1c1c1c;
	background-color: #cc9503;
	border-color: #cc9503;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(235, 226, 131, 0.5);
}

/* Hero Section */
.hero-container {
	background-image: url("../../images/MSHK.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-mask {
	background-color: rgba(0, 0, 0, 0.664);
	max-height: 100%;
}
.text-container {
	max-width: 40em;
}

.btn-color-custom:hover {
	background-color: #cc9503;
}

/* Footer */
footer {
	bottom: 0;
	width: 100%;
	background-color: #202020;

	.footer-container {
		align-items: center;
		text-align: center;

		.footer-wrapper {
			display: flex;
			align-items: center;
			margin: 2em auto 0 0;
			min-width: 20em;

			.logo-footer {
				width: 10em;
			}

			.text-footer {
				color: #ededed;
				width: 20em;
				text-align: center;
				padding: 1em;
				margin: 0 auto;
			}
		}
	}

	.btn-footer {
		display: grid;
		background-color: #cc9503;
		border: none;
		border-radius: 0;
		width: 20em;
		margin: 0 auto;
		margin-bottom: 2em;
	}

	.btn-footer:hover {
		background-color: #cc9503;
	}

	.footer-copy {
		display: flex;
		justify-content: center;

		.text-copy {
			color: #ededed;
			align-items: center;
		}
	}

	@media only screen and (min-width: 64em) {
		.footer-container {
			flex-direction: row;
			justify-content: space-between;

			.footer-wrapper {
				width: 40em;
				margin: 0 auto;
			}

			.text-footer {
				font-family: "Six Caps", sans-serif;
				letter-spacing: 0.2rem;
				font-size: 2.5rem;
				width: 20em;
				padding: 0;
			}

			.logo-footer {
				display: block;
				width: 10em;
			}
		}
		.btn-footer {
			width: 30em;
		}
	}

	@media only screen and (max-width: 64em) {
		.logo-footer {
			display: none;
		}
	}
}
