@import "bootstrap/scss/bootstrap";

.logo {
	width: 2em;
	height: auto;
}

.link-text-custom:hover,
.link-text-custom:active {
	color: #c6911e !important;
}

.navbar {
	position: sticky;
	top: 0;
	z-index: 900;
}

/* custom primary search button */
.btn-outline-primary-custom {
	color: #ededed;
	background-color: transparent;
	border-color: #c6911e;
	border-width: 0.2em;
	font-weight: 400;
}

.btn-outline-primary-custom:hover {
	color: #1c1c1c;
	background-color: #c6911e;
	border-color: #c6911e;
	transition:
		color 0.3s,
		border-color 0.3s;
}

.btn-outline-primary-custom:focus,
.btn-outline-primary-custom:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.131);
}

.btn-outline-primary-custom.disabled,
.btn-outline-primary-custom:disabled {
	color: #c6911e74;
	background-color: transparent;
}

.btn-outline-primary-custom:not(:disabled):not(.disabled):active,
.btn-outline-primary-custom:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary-custom.dropdown-toggle {
	color: #1c1c1c;
	background-color: #c6911e;
	border-color: #c6911e;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(235, 226, 131, 0.5);
}

/* Hero Section */
.hero-container {
	background-image: url("../../public/images/MSHK.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-mask {
	background-color: rgba(0, 0, 0, 0.664);
	max-height: 100%;
}
