@import "bootstrap/scss/bootstrap";
@import "./LoadingSpinner.scss";
@import "./Header.scss";
@import "./HomePage.scss";
@import "./Hero.scss";
@import "./DetailPage.scss";
@import "./CreditDetailPage.scss";
@import "./Footer.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,400;1,600&family=Poppins:wght@300;600;700&family=Six+Caps&display=swap");

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	background-color: #181818;
}

h1,
h4 {
	font-family: "Six Caps", sans-serif;
	letter-spacing: 0.5rem;
	color: #ededed;
}

h3 {
	font-family: "Poppins", sans-serif;
	color: #ededed;
}

p {
	font-family: "Poppins", sans-serif;
	color: #ededed;
}

.logo {
	width: 2em;
	height: auto;
}

.card {
	border: none;
	box-shadow:
		0 4px 8px 0 rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page-not-found-container {
	height: calc(100vh - 66px - 212px);
}

.content-container {
	min-height: calc(100vh - 66px - 212px);
	padding: 0 0.4em;
	margin: 0;
	max-width: 100%;
}

/* Genre Card Page */
.genre-card-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 0.7rem;
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
	.genre-card-container {
		width: 55em;
		margin: 0 auto;
		margin-top: 2em;
	}

	.genre-card-wrapper {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		gap: 1rem;
	}
}
