.title-container {
	display: grid;
	grid-template-rows: auto 1fr;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 0.5em 1em;

	h1.title-person {
		color: #ffffff;
	}

	.info-know-for-wrapper {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 1em;
	}
}
.known-for-text {
	font-size: 0.875rem;
	margin-bottom: 0;
}

.person-info-wrapper {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
.image-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.image-person-detail {
	margin: 0 auto;
	width: 9em;
}

.biography-container {
	display: flex;
	flex-direction: column;
	max-width: 30em;
	margin: 0 auto;
}

.person-title {
	color: #ededed;
}

.person-info {
	font-size: 0.875rem;
	margin-bottom: 0;
}

/* Avatar Movies */
.title-movie-credit {
	color: #ededed;
}

.movie-avatar {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(7em, 1fr));
	gap: 1.2em 0;
}

.img-movie-avatar {
	width: 6em;
	box-shadow:
		0 4px 8px 0 rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);

	border-radius: 0.3125em;
}

.profile-text {
	text-align: center;
	font-size: 0.7rem;
	color: #8e8e8e;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 40em) {
	.image-container {
		flex-direction: column;
		gap: 1em;
	}
	.movie-avatar {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
		margin: 0 auto;
		gap: 1em;
	}
	.img-movie-avatar {
		width: 9em;
	}
	.image-person-detail {
		width: 15em;
	}
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
}
