.title-container {
	display: grid;
	grid-template-rows: auto 1fr;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 0.5em 1em;

	h1.title-person {
		color: #ffffff;
	}

	.info-know-for-wrapper {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 1em;
	}
}
.known-for-text {
	font-size: 0.875rem;
	margin-bottom: 0;
}

.person-container {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0.9em;
}
.person-info-wrapper {
	display: flex;
	flex-direction: column;
}

.image-person-detail {
	margin: 0 auto;
	width: 9em;
}

.biography-container {
	display: flex;
	flex-direction: column;
}

.person-title {
	color: #ededed;
}

.person-info {
	font-size: 0.875rem;
	margin-bottom: 0;
}

/* Avatar Movies */

/* CREDITS cards */
.title-movie-credit {
	color: #ededed;
}

.movie-avatar {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(7em, 1fr));
	max-width: 50em;
	gap: 1.2em 0;
}

.img-movie-avatar {
	width: 6em;
	margin: 0 auto;
	box-shadow:
		0 4px 8px 0 rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-text {
	text-align: center;
	font-size: 0.7rem;
	color: hsl(0, 0%, 54%);
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 40em) {
	.image-detail {
		width: 15em;
	}

	.movie-avatar {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
		max-width: 60em;
		margin: 0 auto;
		.img-profile-avatar {
			width: 7em;
			height: 7em;
		}
	}
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
	.bg-detail-container {
		height: 22em;
	}
	.detail-container {
		display: grid;
		grid-template-columns: 0.5fr 1fr;
		margin: 0 auto;
		max-width: 50em;
	}
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
	.bg-detail-container {
		height: 26em;
	}
}
