/* Overview details page */
.bg-detail-container {
	position: relative;
	width: 100%;
	height: 11em;
}

.title-container {
	display: grid;
	grid-template-rows: auto 1fr;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 0.5em 1em;

	h1.title-movie {
		color: #ffffff;
	}

	.info-relese-wrapper {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 1em;
	}
}
.movie-info {
	font-size: 0.875rem;
	margin-bottom: 0;
}

.info-wrapper {
	display: flex;
	gap: 0.7em;
	margin: 0 auto;
	justify-content: center;

	.genre-info {
		font-size: 1rem;
		justify-content: end;
		border: 0.02em solid #ededed;
		padding: 0.2em 0.5em;
	}

	.genre-info:hover,
	.genre-info:active {
		background-color: #cc9503;
		color: #181818 !important;
		font-weight: 700 !important;
	}
}

.overview-container {
	display: flex;
	flex-direction: column;
}

.detail-container {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0.9em;
}

.image-detail {
	margin: 0 auto;
	width: 7em;
}

.overview-title {
	color: #ededed;
}

.btn-read-more {
	display: flex;
	justify-content: end;
	background: none;
	color: #cc9503;
	border: none;
	margin-top: 0.5em;
}

.info-movie-container {
	display: flex;
	flex-direction: row;
	gap: 0 0.5em;
	justify-content: center;
	font-size: 0.875rem;
	flex-wrap: wrap;
	margin-bottom: 1em;
}

.text-rate-language {
	margin: 0;
}

.star {
	color: #cc9503;
}

/* CREDITS cards */
.title-movie-credit {
	color: #ededed;
}

.profile-avatar {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(7em, 1fr));
	max-width: 50em;
}

.img-profile-avatar {
	width: 5em;
	height: 5em;
	border-radius: 50%;
	display: block;
	box-shadow:
		0 4px 8px 0 rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-text {
	text-align: center;
	font-size: 0.7rem;
	color: #898989;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 40em) {
	.bg-detail-container {
		height: 16em;
	}
	.image-detail {
		width: 15em;
	}

	.profile-avatar {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
		max-width: 60em;
		margin: 0 auto;
		.img-profile-avatar {
			width: 7em;
			height: 7em;
		}
	}
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
	.bg-detail-container {
		height: 22em;
	}
	.detail-container {
		display: grid;
		grid-template-columns: 0.5fr 1fr;
		margin: 0 auto;
		max-width: 50em;
	}
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
	.bg-detail-container {
		height: 26em;
	}
}
