@import url("https://fonts.googleapis.com/css?family=Anton");

$color-primary: #cc9503;
$color-secondary: #ededed;
$font: Anton, sans-serif;

.loader {
	display: flex;
	position: fixed;
	flex-direction: column;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);

	&__text {
		margin: 0 auto;
		color: $color-primary;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-family: $font;
	}

	&__filmstrip {
		position: relative;
		width: 9em;
		height: 10em;
		background: $color-primary;
		z-index: -1;

		&:before,
		&:after {
			content: "";
			position: absolute;
			height: 120%;
			border-left: 5px dashed $color-secondary;
			animation: roll 20ms infinite;
		}

		&:before {
			left: 5px;
		}

		&:after {
			right: 5px;
		}
	}
}

@keyframes roll {
	0% {
		top: 0px;
	}
	100% {
		top: -15px;
	}
}
